# Ignorar archivos de configuración del sistema operativo
.DS_Store
Thumbs.db

# Ignorar entornos virtuales de Python
venv/
env/
arepas/

# Ignorar archivos de compilación
*.class
*.dll
*.exe
*.o
*.so

# Ignorar directorios específicos

# Ignorar archivos de configuración del editor
.vscode/
.idea/
